.ProgrammerImage {
  height: 40%;
  margin: 3%;
}

.ProgrammerCard {
  text-align: center;
  margin: 1.5%;
  background: #e0ffff;
  width: 30%;
  height: 400px;
}

.navbar {
  text-align: left;
  position: absolute;
  top: 0px;
}

.ProgrammerForm {

}

.footer {
 position: absolute;
 bottom: 0;
 width: 100%;
}
